<h1>Daftar Provinsi</h1>
<a href="/provinsi/tambah">Tambah Provinsi</a>
<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Diresmikan</th>
      <th>Pulau</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {{#each provinsis}}
      <tr>
        <td>{{nama}}</td>
        <td>{{diresmikan}}</td>
        <td>{{pulau}}</td>
        <td>
          <a href="/provinsi/{{id}}">Edit</a>
          <a href="/provinsi/{{id}}/hapus" onclick="return confirm('Apakah Anda yakin ingin menghapus provinsi ini?')">Hapus</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a href="/dashboard">Kembali</a>
